body{
	font-family: "segoe ui";
	background: #434e52!important;

}

.container{
	background: #ffffff;
}

.full-name{
	text-transform: uppercase;
}

.dev-what{
	text-transform: uppercase;
}
.row.topcv {
    border-bottom: 50px solid orange;
}

.percent{
	border-bottom: 10px solid #000000;
}

.hundred{
	border-bottom: 10px solid #e1e1e1;
}

.percent-bar{
	padding: 0px 15px;
}

ul li{
	list-style-type: none;
}

.right-content{
	background: #f9f0e0;
}

#avt{
	width: 180px;
	background-image: url(images/avt.png);
	height: 225px;
	margin: 0px auto;
	margin-top: -135px;
	border: 5px double orange;
	overflow: hidden;
}
